

body {
    margin: 0;
    background-color: #b2ebf2;
    line-height: 1.5;
}

hr {
    border-style: dotted none none;
    border-width: 10px;
    color: grey;
    width: 6%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 562.5%;
    color: #66BFBF;
    margin-bottom: 0 auto 0 auto;
}

h3 {
    color: #322f3d;
    font-family: Arial, Helvetica, sans-serif;
}
/*class selectors*/

.btn {
    margin: auto;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.copy-right {
    text-align: center;
}

.copy-right-others {
    text-decoration: none;
    color: #11999E;
}

.footer-link {
    text-decoration: none;
    margin: 0 20px;
}

.greeting {
    font-family: "Calibri";
    color: #005086;
    text-align: center;
}

.info-text {
    font-family: 'Antic Slab', serif;
    font-weight: normal;
    text-align: center;
    color: #66BFBF;
    font-size: 2.5 rem;
}

.navi {
    font-family: "Calibri";
    font-size: large;
    text-decoration: none;
    padding-left: 15px;
    color:#11999E;
}

.navi:visited{
    color:#11999E;
}
.navi:hover{
    color: orange;
}

.icon-img {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*ID selectors*/
#about {
    margin-top: 50px;
}

#about-text {
    width: 30%;
    font-family: "Times New Roman", Times, serif;
    margin: 0 auto 0 auto;
    font-size: larger;
    color: #4b5d67;
}

#contact {
    text-align: center;
}
#quate-auther {
    font-family: "Times New Roman", Times, serif;
    text-align: right;
    color: #4b5d67;
}

#developer {
    width: 20%;
    height: auto;
    display: inline;
    position: absolute;
    right: 100px;
    bottom: 0;
}

#display-table {
    margin-left: auto;
    margin-right: auto;
    z-index: -1
}

#first-div {
    position: relative;
    top: 20px;
    background-color: white;/*;*/
    height: auto;
    padding-bottom: 100px;
}

#facebook {
    width: 60px;
    height: auto;
}

#linkedin {
    width: 45px;
    height: auto;
}

#logo-footer {
    width: 60px;
    height: auto;
}

#head-h1 {
    margin-top: 0;
}

#intro {
    margin-top: 100px;
}

#im-joe {
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 0 auto 0 auto;
}

#keyboard-img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#me {
    width: 100px;
    height: 100px;
}
#my-logo {
    display: inline;
    position: absolute;
    left: 1px;
    bottom: -13px;
    width: 80px;
    height: 80px;
}

#navi-bar {
    background-color: aliceblue;
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 100
}

#navi-cont {
    position: absolute;
    left: 400px;
    top: 10px;
}

#navi-pro {
    position: absolute;
    left: 330px;
    top: 10px;
}

#navi-edu {
    position: absolute;
    left: 240px;
    top: 10px;
}

#navi-ski {
    position: absolute;
    left: 190px;
    top: 10px;
}

#navi-wo {
    position: absolute;
    left: 130px;
    top: 10px;
}

#navi-abo {
    position: absolute;
    left: 70px;
    top: 10px;
}

#skills {
    width: 50%;
    margin: 0 auto;
    top: 50px;
}

#bottom-container {
    background-color: #394989;
    padding: 50px 0 20px 0;
    text-align: center;
    color:#11999E;
    text-decoration: none;
}

#bottom-container:link {
    color:#11999E;
}

#work {
    margin-top: 100px;
}

