
body {
    margin: 0;
}

hr {
    border-style: dotted none none;
    border-width: 10px;
    color: grey;
    width: 6%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: #1b1c25;
}

h3 {
    color: #322f3d;
    font-family: Arial, Helvetica, sans-serif;
}
/*class selectors*/
.greeting {
    font-family: "Calibri";
    color: #005086;
    text-align: center;
}

.info-text {
    font-family: "Calibri";
    text-align: center;
}

.navi {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
    text-decoration: none;
    padding-left: 15px;
}
/*ID selectors*/
#about {
    margin-top: 50px;
}

#about-text {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: larger;
    color: #4b5d67;
}

#developer {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#display-table {
    margin-left: auto;
    margin-right: auto;
}

#first-disp {
    background-color: #b2ebf2;
}

#head-table {
    background-color: rgb(190, 229, 226); /*cedebd*/
    padding-top: 50px;
    width: auto;
    height: 700px;
}

#head-h1 {
    margin-top: 0;
}

#intro {
    margin-top: 100px;
}

#im-joe {
    font-family: "Calibri";
    text-align: center;
}

#keyboard-img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#me {
    width: 100px;
    height: 100px;
}

#navi-pro {
    position: absolute;
    right: 10px;
}

#navi-edu {
    position: absolute;
    right: 98px;
}

#navi-ski {
    position: absolute;
    right: 200px;
}

#navi-wo {
    position: absolute;
    right: 265px;
}

#navi-abo {
    position: absolute;
    right: 340px;
}