a:link{
    color:#005086;
}
a:visited{
    color:#005086;
}
a:hover{
    color: orange;
}

body {
    margin: 0;
    background-color: #b2ebf2;
}

hr {
    border-style: dotted none none;
    border-width: 10px;
    color: grey;
    width: 6%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: #1b1c25;
}

h3 {
    color: #322f3d;
    font-family: Arial, Helvetica, sans-serif;
}
/*class selectors*/
.greeting {
    font-family: "Calibri";
    color: #005086;
    text-align: center;
}

.info-text {
    font-family: 'Antic Slab', serif;
    text-align: center;
}

.navi {
    font-family: "Calibri";
    font-size: large;
    text-decoration: none;
    padding-left: 15px;
}

.icon-img {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*ID selectors*/
#about {
    margin-top: 50px;
}

#about-text {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: larger;
    color: #4b5d67;
}

#developer {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#display-table {
    margin-left: auto;
    margin-right: auto;
    z-index: -1
}

#first-div {
    position: relative;
    top: 50px;
    background-color: white;/*;*/
    height: auto;
}

#head-h1 {
    margin-top: 0;
}

#intro {
    margin-top: 100px;
}

#im-joe {
    font-family: 'Caveat', cursive;
    text-align: center;
}

#keyboard-img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#me {
    width: 100px;
    height: 100px;
}

#my-logo {
    display: inline;
    position: absolute;
    right: 1px;
    bottom: -13px;
    width: 80px;
    height: 80px;
}

#navi-bar {
    background-color: aliceblue;
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 100
}

#navi-pro {
    position: absolute;
    left: 290px;
    top: 10px;
}

#navi-edu {
    position: absolute;
    left: 200px;
    top: 10px;
}

#navi-ski {
    position: absolute;
    left: 140px;
    top: 10px;
}

#navi-wo {
    position: absolute;
    left: 80px;
    top: 10px;
}

#navi-abo {
    position: absolute;
    left: 20px;
    top: 10px;
}

#skills {
    position: relative;
    top: 50px;
}


#work {
    margin-top: 100px;
}
